:root {
  --border-width: 2px;
  --color-top-left: rgba(255,255,255,0.3);
  --color-bottom-right: rgba(255,255,255,0.4);
  --border-radius: 50%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; /* for the positioned gradient bg */
}

svg#filters {
  display: none;
}

div#outer {
  --outer-border-radius: var(--border-radius);
  --inner-border-radius: var(--border-radius);
  width: 200px;
  height: 200px;
  margin-top: 20px;
  border-radius: var(--outer-border-radius);
  padding: var(--border-width);
  box-shadow: 4px 6px 10px rgba(0,0,0,0.18);
  -webkit-app-region: drag;
  overflow: hidden;
  position: relative;
}

div#gradient-bg {
  --size: 100vw;

  background: linear-gradient(
    -30deg,
    rgba(255,255,255,0) 30%,
    rgba(255,255,255,1) 70%
  );

  position: absolute;

  width: var(--size);
  height: var(--size);

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#gradient-bg.animated {
  animation: 4s linear 0s infinite rotate;
}

div#outer.rectangle {
  width: 300px;
  height: 200px;
  --rect-border-radius: 22px;
  --outer-border-radius: calc(var(--border-width) + var(--rect-border-radius));
  --inner-border-radius: var(--rect-border-radius);
}

div#outer.large {
  width: 400px;
  height: 400px;
}

div#outer.large.rectangle {
  width: 500px;
  height: 400px;
}

div#outer.flat div#sheen {
  display: none;
}

div#inner {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  border-radius: var(--inner-border-radius);
  overflow: hidden;
  position: relative;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
}

div#sheen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 2px 4px 8px rgba(255,255,255,0.42);
  border-radius: var(--inner-border-radius);
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}
